<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/chapter.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="quote-container">
      <blockquote>"<%= quote %>"</blockquote>
    </div>
    <a href="/">Back to chapters</a>
  </body>
</html>
